/* Some BVT Colors */
/* #FF4F2D, #E21304, #FF3B1F, #E11204, #C10B00 */
/* Grabbed these from ds channel on discord  */
/* #FB3E20, #FD4C2B, #FE872F, #FF7A45, #FB622F */

#root {
  text-align: center;
  /* background-color: #1a1a1a; */
  /* color:white; */
}

/* universal modal */
.modal-background {
  background-color: #e0e1dd;
}

/* End modal */

/* App.jsx */
.site--container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 76px);
  overflow-y: auto;
  
}

label{
  margin-right: 20px;
}

/* End of App.jsx */

/* Login Page*/

.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  max-width: auto;
  max-height: auto;
  margin: 50px auto 50px;
}

.title-login{
  font-weight: bold;
  margin-bottom: 40px;
  margin-top:2px;
}

 #light .login-card{
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(9, 100%, 60%, 1) 100%);
  color: #FF5133;
}

#dark .login-card{
  background: linear-gradient(180deg, hsla(16, 100%, 54%, 1) 0%, rgb(49, 47, 47) 100%);
  color: rgb(255, 255, 255);
}
#light .input-text{
  color: black;
}
#dark .input-text{
  color: white;
}

#dark .fp-login{
  color: #ffffff;
}

#light .fp-login{
  color: black;
}

.login-text{
  margin-top: 10px;
}

#light .login-text{
  color: black;
}
#dark .login-text{
  color: white;
}


#light .bvt--logo{
    margin-left: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 10px #6d6d6d;
    padding: 15px;
    width: 250px;
    margin: 15px;
    filter:brightness(100%)
}

#dark .bvt--logo{
  margin-left: 50px;
  border-radius: 5px;
  background-color: #2a2e30;
  box-shadow: 10px 10px 10px #6d6d6d;
  padding: 15px;
  width: 250px;
  margin: 15px;
  filter:brightness(100%)
}

.bvt--logo:hover{
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

.sign-up-login{
  color: rgb(255, 98, 0);
}

#light .sign-up-login{
  color: rgb(255, 255, 255);
}
.fp-login{
  margin-top: 10px;
}

.error{
  color: red;
}


.login-icons{
  margin-top: 10px;
}
/* End of Login*/

/* Home Page */


.home-page-background {
  position: relative;
  width: 100%;
  height: calc(50vh - 100px);
  background-image: url('images/Temp.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

.home-page-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(50vh - 100px);
  background-color: rgba(255, 255, 255, 0.4);
  z-index: -1;
}

#dark .home-page-background::before {
  background-color: rgba(0, 0, 0, 0.4);
}


.home-search-n-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}


.home-search-bar {
  width: 950px;
  border: none;
  height: 35px;
  border-radius: 5px;
}

@media (max-width: 975px) {
  .home-search-bar {
    width: 600px
  }
}

@media (max-width: 625px) {
  .home-search-bar {
    width: 400px
  }
}

.home-search-button {
  color: grey;
  background: none;
  border: none;
  padding: 4.7px;
  border-radius: 4px;
  margin-left: -40px;
  font-size: 25px;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-row {
  display: grid;
  grid-template: auto auto/ repeat(3, 2fr);
  gap: 150px;
  justify-content: center;
  padding-bottom: 75px; 
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 200px;
  margin-right: 55px;
  margin-left: 55px;
}

@media (max-width: 625px) {
  .carousel-controls {
    top: 150px;
  }
}

.carousel-btn {
  border: none;
  background: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
  color:white;
  font-size: 55px;
  background-color: rgba(0, 0, 0, 0.096);
}

/* End of Home Page */

/* Avatar Bubbles */

.avatar-bubble {
  width: 200px;
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 980px) {
  .avatar-bubble {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 625px) {
  .avatar-bubble {
    width: 20px;
    height: 50px;
  }
}

.avatar-for-home {
  width: 11rem;
  border-radius: 100px;
}


@media (max-width: 980px) {
  .avatar-for-home {
    width: 9rem;
  }
}

@media (max-width: 625px) {
  .avatar-for-home {
    width: 6rem;
  }
}

/* End of Bubbles */


/* Login Page*/
.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#light .bvt--logo{
    margin-left: 50px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 10px 10px 10px #6d6d6d;
    padding: 15px;
    width: 250px;
    margin: 15px;
    filter:brightness(100%)
}

#dark .bvt--logo{
  margin-left: 50px;
  border-radius: 5px;
  background-color: #2a2e30;
  box-shadow: 10px 10px 10px #6d6d6d;
  padding: 15px;
  width: 250px;
  margin: 15px;
  filter:brightness(100%)
}

.bvt--logo:hover{
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

#light .form-label {
  color: rgb(0, 0, 0);
}

#dark .form-label {
  color: rgb(255, 255, 255);
}
  
#dark .login-text {
  color:rgb(255, 255, 255);
  font-size: medium;
}
#light .login-text {
  color:rgb(2, 2, 2);
  font-size: medium;
}

.error{
  color: red;
}
/* End of Login*/

/* Start of Navbar */

#light .drop {
  background-color: white;
}

#dark .drop {
  background-color: #2a2e30;
}

.nav-home{
  padding: 20px;
  display: flex;
  justify-content: space-between;
  max-height: 86px;
}

.home-button {
  display: flex;
  text-shadow: black -4px  3px;
  margin-left: 90px;
}

.nav-right {
  display: flex;
}

.home-button-text {
  font-family: serif;
  font-size: 35px;
  color: #EEF4ED;
  text-shadow: black 4px  3px 3px;
  padding-bottom: 15px;
}


#dark .home-button-text {
  text-shadow: black -4px  3px 3px;
}

@media (max-width: 650px) {
  .home-button-text {
    font-size: 30px;
   
  }
}

.login--text {
  font-weight: 500;
  font-family: serif;
  color: #B3A125;
  font-size: 25px;
  text-shadow: black -4px  3px 2px;
}

.login--text:hover {
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

.sideMenu:hover {
  color:#f9f9f9
}

.toggler {
  margin-top: 8px;
}

.toggler--slider {
  width: 50px;
  height: 25px;
  background-color: #e0e1dd;
  border-radius: 2rem;
  margin-inline: 7px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  padding-left: 2px;
  align-items: center;
  box-sizing: content-box;

}

#dark .toggler--slider {
  border-color: white;
  background-color: #1a1a1a;
  justify-content: flex-end;
  padding-right: 2px;
}

.toggler--slider--circle {
  height: 23px;
  width: 23px;
  background-color: #FF3B1F;
  border-radius: 50%;

}

/* End of Navbar */

/* Toggle Theme Nav */

#light .nav-home{
  background-color: #FF3B1F;
  color: #1a1a1a;
}

#dark .nav-home{
  background-color: #FF3B1F;
  color: #f9f9f9;
}

#dark{
  background-color: #1a1a1a;
  color: #FBFBFB;
  }
#light{
    background-color: #e0e1dd;
    color: #332D2D;
  }

/* End of Toggle */

/* Footer */


.footer {
  padding: 25px;
  color: white;
  background-color: #FF3B1F;
}

/* Footer end */

/* Search Page */

.avatar-for-search {
  height: 7em;
  border-radius: 100px;
}

.search-results {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;

}

#light .outer-id-card {
  background-color: #e0e1dd;
  font-size: larger;
  margin: 10px; 
  max-width: 285px;
  border-radius: 25px;

}

#dark .outer-id-card {
  background-color: #242424;
  font-size: larger;
  margin: 10px; 
  max-width: 285px;
  border-radius: 25px;
}

#light .inner-id-card {
  margin: 15px;
  padding: 10px;
  min-width: 250px;
}
#dark .inner-id-card {
  margin: 15px;
  padding: 10px;
  min-width: 250px;
}

#light .surrounding-box {
  background-color:white;
  margin: 25px 55px 0 55px;
  box-shadow: black -7px 7px 15px;
  border-radius: 10px;
}

#dark .surrounding-box {
  background-color:#2a2e30;
  margin: 25px 55px 0 55px;
  box-shadow: black -7px 7px 15px;
  border-radius: 10px;
}

#light .container-search {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  margin-top: 25px;
  border-radius: 10px
}

#dark .container-search {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2e30;
  margin-top: 25px;
  border-radius: 10px
}

.sp-search-bar-n-btn {
  display: flex;
  align-items: center;
  width: fit-content;
}

#light .SP-searchBar {
  width: 300px;
}

#dark .SP-searchBar {
  border: none;
  width: 300px;
}

#light .BVT-results {
  background-color: white;
  margin: 25px 55px 25px 55px;
  min-height: calc(100vh - 450px);
  box-shadow: black -7px 7px 15px;
  max-height: max-content;
  border-radius: 10px;
}

#dark .BVT-results {
  background-color:#2a2e30;
  margin: 25px 55px 25px 55px;
  min-height: calc(100vh - 450px);
  box-shadow: black -7px 7px 15px;
  max-height: max-content;
  border-radius: 10px;
}

#light .sp-results-header {
  color: black;
  margin: 25px;
}

#dark .sp-results-header {
  color: white;
  margin: 25px;
}

/* End Search Page */

/* Add entry Page */

.add-entry {
  display: flex;
  align-items: center;
}

/* End of add entry */

/* Profile */

.profile-page-container {
  margin: 25px 25px 55px 0px;
}

#dark .default-profile-pic {
  width: 200px;
  border-radius: 125px;
  box-shadow: black -3px 3px 16px;
}

#light .default-profile-pic {
  width: 200px;
  border-radius: 125px;
  box-shadow: black -3px 3px 16px;
}

.profile-email,
.profile-name {
  color: #B3A125;
  margin: 25px 0px 5px 0px;
}

#light .about-me-header,
#light .projects-header,
#light .achievements-header,
#light .contact-header {
  background-color: rgb(255, 255, 255);
  width: 450px;
  height: 50px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B3A125;
  box-shadow: black 3px 3px 10px;
}

#dark .about-me-header,
#dark .projects-header,
#dark .achievements-header,
#dark .contact-header {
  background-color: #2a2b2c;
  width: 450px;
  height: 50px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B3A125;
  box-shadow: black -3px 3px 10px;
}

#light .contact-container {
  color: #2a2b2c;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  border-radius: 5px;
  margin-top: 10px;
  width: 450px;
  height: 150px;
  display: flex;
  gap: 15px;
  padding: 15px;
  box-shadow: black 3px 3px 10px;
}


#dark .contact-container {
  color:rgb(255, 255, 255);
  background-color: #2a2b2c;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  border-radius: 5px;
  margin-top: 10px;
  width: 450px;
  height: 150px;
  display: flex;
  gap: 15px;
  padding: 15px;
  box-shadow: black -3px 3px 10px;
}

#light .projects-text,
#light .about-me-text,
#light .achievements-text {
  color: #2a2b2c;
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 450px;
  height: 150px;
  display: flex;
  gap: 15px;
  padding: 15px;
  box-shadow: black 3px 3px 10px;
}

#dark .projects-text,
#dark .about-me-text,
#dark .achievements-text {
  color:rgb(255, 255, 255);
  background-color: #2a2b2c;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 450px;
  height: 150px;
  display: flex;
  gap: 15px;
  padding: 15px;
  box-shadow: black -3px 3px 10px;
}

.profile-achievements {
  display: flex;
  align-items: flex-start;

}

/* End of Profile */

/* Profile edit */

.profile-page-edit-container {
  margin: 25px;
  width: auto;

}

.edit-image-link {
  color: black;
  font-weight: bold;
  position: relative;
  bottom: 65px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: inset 0 0 0 0 black;
  padding: 0 .25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  border-radius: 15px;
}

.edit-image-link:hover {
  box-shadow: inset 177px 0 0 0 black;
  color: white;
}

#light .e-p-pic-text{
  margin-top: 55px;
  color: #177E89;
  font-size: 30px;
  font-weight: bold;
}

#dark .e-p-pic-text {
  margin-top: 55px;
  color: #FFC857;
  font-size: 30px;
  font-weight: bold;
}

.e-p-social-links {
  margin-top: 55px;
}

.social-links-icon {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  gap: 15px;
  font-size: 25px;
}

.form-edit-prof {
  margin: 15px 0px 15px 0px;
}

#light .e-p-form-text {
    font-size: 25px;
    color: #084C61;
    font-weight:bold;
}

#dark .e-p-form-text {
  font-size: 25px;
  color: #FFC857;
  font-weight:bold;
}

.e-p-update {
  margin-top: 5px;
  width: 30vh;
  border-radius: 7px;
  background-color: orange;
}

.e-p-input {
  margin-top: 5px;
  width: 40vh;
  height: 35px;
  border-radius: 7px;
  text-align: center;
}

.e-p-textarea {
  width: 40vh;
  min-height: 75px;
  max-height: 250px;
  border-radius: 7px;
  text-align:justify;
}

.e-p-cancel {
  background-color: #084C61;
  width: 110px;
  height: 45px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.e-p-save {
  background-color: #FF7A45;
  width: 110px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
}

.e-p-buttons {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin: 50px 0px 50px 0px;
}


/* end of Profile edit */

/* Password Reset*/
.h1-fpp{
  color: white;
  margin: 50px;
}

#light .h1-fpp{
  color: black;
  margin: 50px;
}
.p-fpp{
  font-size: medium;
  margin-bottom: 50px;
}

.fp-email{
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.p-text{
  color: white;
}
#light .p-text{
  color: rgb(0, 0, 0);
}
.forgot-pw-submit {
  background-color: #4c00fd;
  margin-bottom: 50px;

}

/* End of password reset */

/* Register Page */

.register-body{
  background-image: url(https://img.freepik.com/free-vector/orange-geometrical-background-design-vector_53876-62367.jpg?w=360);
  background-size: auto;
  height: calc(100vh - 152px);
  overflow-y: scroll;
}

.register-form{
  background-color:rgb(15, 15, 15);
  border-radius: 20px;
  width: 550px;
  margin: 20px auto;
  margin-top: 55px;
  padding: 20px;
  border: inset;
  border-color: #ffffff;
  
}

.form-body{
  text-align: center;
  padding: 20px 10px;
}

.form-body > *{
  padding: 5px;
}

.form__label{
  width: 40%;
 color: rgb(255, 115, 0);
 font-size: large;
 font-family: Rancho,Georgia, 'Times New Roman', Times, serif;
  
}

#contactuser{

  color:#141414;
  background-color: hsl(0, 0%, 100%);
 
}

.form__input{
  width: 60%;
  background-color: #1a1c1b;
  color: rgb(255, 255, 255);
  caret-color: #f50000;
  margin-top: 5px;
  text-align: center;
  margin: auto;
}

.submit-register{
  text-align: center;
}

.create-acc-btn{
  color:rgb(0, 0, 0);
  border-radius: 10px;
  background-color: rgb(255, 115, 0);
  font-family: Rancho,Georgia, 'Times New Roman', Times, serif;
}

.last-sentence{
  margin: 10px;
  color: #ffffff;
  font-family: Rancho,Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}


.sign-up{
  color:#ff7300;
  font-size: larger;
  font-family: Rancho, Georgia, 'Times New Roman', Times, serif;
  font-size:48px;
  
  
}

/* End of Register Page */

