/* Some BVT Colors */
/* #FF4F2D, #E21304, #FF3B1F, #E11204, #C10B00 */
/* Grabbed these from ds channel on discord  */
/* #FB3E20, #FD4C2B, #FE872F, #FF7A45, #FB622F */

#root {
  text-align: center;
  background-color: #1a1a1a;
  color:white;
}


/* App.jsx */
.site--container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 76px);
  
}
.switch{
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}
label{
  margin-right: 20px;
}
/* End of App.jsx */

/* Login Page*/
  
.bvt--logo{
    margin-left: 50px;
    border-radius: 5px;
    background-color: #FBFBFB;
    box-shadow: 10px 10px 10px #6d6d6d;
    width: 250px;
    margin: 15px;
    filter:brightness(100%)
}
.bvt--logo:hover{
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}
.form-basic-email,
.form-basic-password {
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
  
#light .form-label {
  color: rgb(0, 0, 0);
}

#dark .form-label {
  color: rgb(255, 255, 255);
}
  
#dark .login-text {
  color:rgb(255, 255, 255);
  font-size: medium;
}
#light .login-text {
  color:rgb(2, 2, 2);
  font-size: medium;
}
  
  
.btn-el{
  margin: 20px auto 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  padding: 10px;
}
  
.login--container {
  padding-bottom: 50px;
}
  
.login-buttons {
  margin-bottom: 10px;
}
  
/* End of Login*/

/* Start of Nav Bar */

.drop {
  background-color: #2a2e30;
}


.home-button {
  display: flex;
  justify-content: center;
  justify-items: center;
  text-decoration: none;
  margin-right:auto;
  margin-left: auto;
  color: #B3A125;
  font-size: small;
  text-shadow: black -4px  3px;
}
.login-button {
  text-decoration: none;
}

.home-button-text {
  font-family: serif;
  font-size: 35px;
  color: #B3A125;
  text-shadow: black -4px  3px 3px;
}

.home-button-text:hover {
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

.login--text {
  font-weight: 500;
  font-family: serif;
  color: #B3A125;
  font-size: 25px;
  text-shadow: black -4px  3px 2px;
}

.login--text:hover {
  color:#CC0000;
  text-shadow: black 4px 3px 3px;
}

.sideMenu:hover {
  color:#f9f9f9
}

.nav-home{
  padding: 20px;
  display: flex;
  background-color: #084c61;
  max-height: 86px;
}
#light .nav-home{
  background-color: #778da9;
  color: #1a1a1a;
}

#dark .nav-home{
  background-color: #0d1b2a;
  color: #f9f9f9;
}
/* Toggle Theme Nav */
#dark{
  background-color: #1b263b;
  color: #FBFBFB;
  }
#light{
    background-color: #e0e1dd;
    color: #332D2D;
  }
 .light-dark-btn{
    font-size: 15px;
    font-weight: 500;
    font-family: serif;
    text-shadow: black -4px  3px;
    margin-left: 5px;
    margin-right: 0px;
    border-radius: 5px;
    padding: 8px;
    color: #B3A125;
    background-color: #2a2e30;
  }
  .light-dark-btn:hover{
    color:#CC0000;
    text-shadow: black 4px 3px 3px;
  }
/* End of Nav Bar */

/* Footer */

.footer {
  padding: 25px;
  color: white;
  background-color: #2a2b2c;
  
}

/* Footer end */

/* Search Page */

.avatar-for-search {
  height: 7em;
}

.search-results {
  display: flex;
  justify-content: space-around;
  align-content: flex-start;
  flex-wrap: wrap;
 
}


.outer-id-card {
  background-color: #242424;
  font-size: larger;
  margin: 10px; 
}

.inner-id-card {
  margin: 15px;
  padding: 10px;
  min-width: 250px;
}


.surrounding-box {
  background-color:#2a2e30;
  margin: 25px 55px 0 55px;
  box-shadow: #1a1a1a -7px 7px 15px;
  border-radius: 10px;
}

.container-search {
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2a2e30;
  margin-top: 25px;
  border-radius: 10px
}

.sp-search-bar-n-btn {
  display: flex;
  align-items: center;
  width: fit-content;
}

.SP-searchBar {
  border: none;
  width: 300px;
}

.BVT-results {
  background-color:#2a2e30;
  margin: 25px 55px 25px 55px;
  min-height: calc(100vh - 450px);
  box-shadow: black -7px 7px 15px;
  max-height: max-content;
  border-radius: 10px;
}


.sp-results-header {
  color: white;
  margin: 25px;
}

/* End Search Page */

/* Add entry Page */

.add-entry {
  display: flex;
  align-items: center;
}

  
/* End of add entry */

/* Profile */

.profile-page-container {
  margin: 25px;
}

.default-profile-edit-pic {
  width: 200px;
  border-radius: 125px;
  box-shadow: black -3px 3px 16px;
}

.profile-email,
.profile-name {
  color: #B3A125;
  margin: 25px 0px 5px 0px;
}


.about-me-header,
.projects-header,
.achievements-header,
.contact-header {
  background-color: #2a2b2c;
  width: 350px;
  height: 50px;
  border-radius: 5px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  font-size: larger;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #B3A125;
  box-shadow: black -3px 3px 10px;
}


.contact-container {
  color:rgb(255, 255, 255);
  background-color: #2a2b2c;
  margin-left: auto;
  margin-right: auto;
  font-size: 35px;
  border-radius: 5px;
  margin-top: 10px;
  width: 350px;
  height: 150px;
  display: flex;
  gap: 15px;
  padding: 15px;
  box-shadow: black -3px 3px 10px;
}

.projects-text,
.about-me-text,
.achievements-text {
  color:rgb(255, 255, 255);
  background-color: #2a2b2c;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  border-radius: 5px;
  margin-top: 10px;
  width: 350px;
  height: 150px;
  display: flex;
  gap: 15px;
  padding: 15px;
  box-shadow: black -3px 3px 10px;
}

/* Password Reset*/
.h1-fpp{
  color: white;
  margin: 50px;
}

#light .h1-fpp{
  color: black;
  margin: 50px;
}
.p-fpp{
  font-size: medium;
  margin-bottom: 50px;
}

.fp-email{
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.p-text{
  color: white;
}
#light .p-text{
  color: rgb(0, 0, 0);
}
.forgot-pw-submit {
  background-color: #4c00fd;
  margin-bottom: 50px;

}

/* End of password reset */
